<!DOCTYPE html>
<html lang="es">
<head>
<% include ../views/Secciones/head %>
	<title><%=title%></title>
	<% include ../views/Secciones/header %>
</head>
<body>
<% include ../views/Secciones/menu %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

   <div class="row wrapper border-bottom white-bg page-heading">
    <div class="row">
			<div class="col-sm-12">
        <h1 class="page-header">Técnicos</h1>
      </div>

      <div class="col-sm-12">
				 <div class="title-action">
                <button type="button" style="margin-left: 1%; margin-bottom: 2%;" class="btn btn-primary" data-toggle="modal" data-target="#addTechnical">Nuevo Técnico</button>
            </div>
			</div>
		</div><!--/.row-->
    </div>

      <!--AGREGAR TÉCNICO-->
        <div class="modal inmodal" id="addTechnical" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agregar nuevo Técnico</h4>
              </div>
               <div class="modal-body">
                 <form action="/technical" method="post" name="info_form">
                     <div class="modal-body clearfix">
                         <div class="controls">
                             <div class="form-group">
                                 <label for="Nombre">Nombre</label>
                                  <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre" required="" >
                              </div>
                              <div class="form-group">
                                  <label for="Tel">Tel</label>
                                  <input type="text" class="form-control" id="Tel" name="Tel" placeholder="Télefono" required="" >
                              </div>
                              <div class="form-group">
                                  <label for="ID-Nextel">ID-Nextel</label>
                                 <input type="text" class="form-control" id="ID-Nextel" name="IDNextel" placeholder="ID-Nextel" required="" >
                              </div>

                              <div class="form-group">
                                  <label for="Puesto">Puesto</label>
                                 <input type="text" class="form-control" id="Puesto" name="Puesto" placeholder="Puesto" required="" >
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!--ACTUALIZAR TÉCNICO-->
        <div class="modal inmodal" id="editClient" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Actualizar técnico</h4>
              </div>
               <div class="modal-body">
                 <form action="/upTech" method="post" name="info_form">
                     <div class="modal-body clearfix">
                         <div class="controls">
                             <div class="form-group">
                                 <label for="Nombre1">Nombre</label>
                                  <input type="text" class="form-control" id="Nombre1" name="Nombre" placeholder="Nombre" required="" >
                              </div>
                              <div class="form-group">
                                  <label for="Tel1">Tel</label>
                                  <input type="text" class="form-control" id="Tel1" name="Tel" placeholder="Télefono" required="" >
                              </div>
                              <div class="form-group">
                                  <label for="ID-Nextel1">ID-Nextel</label>
                                 <input type="text" class="form-control" id="ID-Nextel1" name="IDNextel" placeholder="ID-Nextel" required="" >
                              </div>

                              <div class="form-group">
                                  <label for="Puesto1">Puesto</label>
                                 <input type="text" class="form-control" id="Puesto1" name="Puesto" placeholder="Puesto" required="" >
                              </div>
                              <input type="hidden" class="form-control" id="id" name="idTécnico" required="" >
                          </div>
                      </div>
                      <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


    <div class="ibox-content" id="informacion">
          <div class="scroll">
            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar ...">
              <table class="footable table table-stripped" data-filter="#filter" data-page-size="6" id="informacion">
                <thead>
                  <tr>

                   <th nowrap>ID Técnico</th>
                   <th nowrap>Nombre</th>
                   <th nowrap>Teléfono</th>
                   <th nowrap>ID-Nextel</th>
                   <th nowrap>Puesto</th>
                   <th nowrap>Opciones</th>
                  </tr>

                </thead>
                <tbody class="Table">

                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="11">
                      <ul class="pagination pull-right"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
     </div>
</div>

	<% include ../views/Secciones/footer %>
	<script>


  function editarT(id) {
         $('#editClient').modal();
         $.ajax({
             url: "/editTech/" + id + "",
             type: "GET",
             success: function (result) {
                 $('#Nombre1').val(result[0].Nombre);
                 $('#Tel1').val(result[0].Tel);
                 $('#ID-Nextel1').val(result[0].IDNextel);
                 $('#Puesto1').val(result[0].Puesto);
                 $('#id').val(result[0].idTécnico);
             }, error: function (result) {

             }

         });
     }



      function delTech(id) {
         $.ajax({
             url: "/delTech/" + id + "",
             type: "GET",
             success: function (result) {
                if(result = "done"){
                  location.reload();
                }else{
                  alert("Ocurrio un error: "+ result);
                }
             }, error: function (result) {
                alert(result);
             }

         });
     }
		$(document).ready(function(){
			$("#item3").addClass("active");

				$.ajax({
				url: "/infoTech",
				Type: "GET",
				success: function(result){
					if(result==0){
			        }else{

			          for (var i = 0; i <= result.length; i++) {

			          	var row = $("<tr>")

			            $('.Table').append(row); 
			            row.append($("<td>" + result[i].idTécnico + "</td>"));
			            row.append($("<td>" + result[i].Nombre + "</td>"));
			            row.append($("<td>"+ result[i].Tel + "</td>"));
			            row.append($("<td>"+ result[i].IDNextel + "</td>"));
			            row.append($("<td>"+ result[i].Puesto + "</td>"));
			            row.append($("<td >" + " &nbsp; " + "<button onclick=editarT("+result[i].idTécnico+") class='widget-icon'><i class='fa fa-edit text-navy'></i></button>" + " &nbsp; " + "<button class='widget-icon' id='Opcion2' onclick=delTech("+result[i].idTécnico+")><i class='fa fa-trash text-navy'></i></button>" + "</td>"));
			            $('.footable').footable();
                  		}
			        }
		        }
		    });
		});
</script>		
</body>
</html>