<!DOCTYPE html>
<html lang="es">
<head>
<link href="../css/style.css" rel="stylesheet">
<% include ../views/Secciones/head %>
	<title>SIICOM-MX | Técnicos</title>
	<% include ../views/Secciones/header %>
  <script>
      window.onload = function() {
        window.addEventListener('mousemove', function(){$('.footable').footable()});
      };
    </script>
</head>
<body>
<% include ../views/Secciones/menu %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

   <div  class="contact-box center-version">
    <div class="row">
			<div class="col-sm-12">
        <h1 class="page-header">Información de técnicos</h1>
        <p><bu<a href="javascript:void(0)" id="imprime"><button>Imprime</button> </a></p> 
      </div>

      <div class="col-sm-12">
				 <div class="title-action">
                <button type="button" style="margin-left: 1%; margin-bottom: 2%;" class="btn btn-primary" data-toggle="modal" data-target="#addTechnical">Nuevo Técnico</button>
            </div>
			</div>
		</div><!--/.row-->
    </div>

      <!--AGREGAR TÉCNICO-->
        <div class="modal inmodal" id="addTechnical" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agregar nuevo Técnico</h4>
              </div>
               <div class="modal-body">
                 <form action="/technical" method="post" name="info_form">
                     <div class="modal-body clearfix">
                         <div class="controls">
                             <div class="form-group">
                                 <label for="Nombre">Nombre</label>
                                  <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre" required="" >
                              </div>
                              <div class="form-group">
                                 <label for="Email">Email</label>
                                  <input type="email" class="form-control" id="Email" name="Email" placeholder="example@example.com" required="" >
                              </div>
                               <div class="form-group">
                                 <label for="Nombre">Password</label>
                                  <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required="" >
                              </div>
                              <div class="form-group">
                                  <label for="Tel">Tel</label>
                                  <input type="text" class="form-control" id="Tel" data-mask="(999) 999-9999" name="Tel" placeholder="Télefono" required="" >
                              </div>
                              <div class="form-group">
                                  <label for="ID-Nextel">ID-Nextel</label>
                                 <input type="text" class="form-control" id="ID-Nextel" data-mask="99-999999-9" name="IDNextel" placeholder="ID-Nextel" required="" >
                              </div>

                              <div class="form-group">
                                  <label for="Puesto">Puesto</label>
                                 <input type="text" class="form-control" id="Puesto" name="Puesto" placeholder="Puesto" required="" >
                              </div>

                              <div class="form-group">
                                  <label for="UL">Nivel de usuario</label>
                                 <SELECT class="form-control" id="UL" name="userLvl" required="">
                                  <option value="">Seleccione..</option>
                                  <option value="0"> Estandar </option>
                                  <option value="1"> Administrador </option>
                                  </SELECT> 
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!--ACTUALIZAR TÉCNICO-->
        <div class="modal inmodal" id="editClient" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Actualizar técnico</h4>
              </div>
               <div class="modal-body">
                 <form action="/upTech" method="post" name="info_form">
                     <div class="modal-body clearfix">
                         <div class="controls">
                             <div class="form-group">
                                 <label for="Nombre">Nombre</label>
                                  <input type="text" class="form-control" id="Nombre1" name="Nombre" placeholder="Nombre" required="" >
                              </div>
                              <div class="form-group">
                                 <label for="Email">Email</label>
                                  <input type="email" class="form-control" id="Email1" name="Email" placeholder="example@example.com" required="" >
                              </div>
                              <div class="form-group">
                                  <label for="Tel">Tel</label>
                                  <input type="text" class="form-control" id="Tel1" data-mask="(999) 999-9999" name="Tel" placeholder="Télefono" required="" >
                              </div>
                              <div class="form-group">
                                  <label for="ID-Nextel">ID-Nextel</label>
                                 <input type="text" class="form-control" id="ID-Nextel1" data-mask="99-999999-9" name="IDNextel" placeholder="ID-Nextel" required="" >
                              </div>

                              <div class="form-group">
                                  <label for="Puesto">Puesto</label>
                                 <input type="text" class="form-control" id="Puesto1" name="Puesto" placeholder="Puesto" required="" >
                              </div>

                              <div class="form-group">
                                  <label for="UL1">Nivel de usuario</label>
                                 <SELECT class="form-control" id="UL1" name="userLvl1" required="">
                                  <option value="">Seleccione..</option>
                                  <option value="0"> Estandar </option>
                                  <option value="1"> Administrador </option>
                                  </SELECT> 
                              </div>
                              <input type="hidden" class="form-control" id="id" name="idTécnico" required="" >
                          </div>
                      </div>
                      <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
       


  <div id="datas" class="content">
   
  </div>

  <!--ACTUALIZACIÓN DE FOTO-->
<div class="modal inmodal" id="foto" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Actualizar foto</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="/photoProfile" enctype="multipart/form-data" id="formPhoto">
            <div class="modal-body clearfix">
              <div class="form-group">
                  <label for="Foto">Foto de perfil</label>
                  <input type="file" accept="image/x-png,image/jpg,image/jpeg"  class="form-control" name="foto"  id="Foto" required>
                </div>
              </div>
            <button type="submit" class="actualizarFoto btn btn-primary">Subir</button>
          <div class="modal-footer">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>



	<% include ../views/Secciones/footer %>
	<script>


  function editarT(id) {
         $('#editClient').modal();
         $.ajax({
             url: "/editTech/" + id + "",
             type: "GET",
             success: function (result) {
                 $('#Nombre1').val(result[0].Nombre);
                 $('#Email1').val(result[0].Email);
                 $('#Tel1').val(result[0].Tel);
                 $('#ID-Nextel1').val(result[0].IDNextel);
                 $('#Puesto1').val(result[0].Puesto);
                 $('#UL1').val(result[0].userLvl);
                 $('#id').val(result[0].idTécnico);
             }, error: function (result) {

             }

         });
     }



      function delTech(id) {
        swal({
            title: "¿Estás seguro?",
            text: "¡No podrás recuperar el registro!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, dale cuello!",
            closeOnConfirm: false
          }, function () {
                swal("Eliminado!", "El registro ha sido eliminado.", "success", setTimeout(function() { 
                 $.ajax({
                     url: "/delTech/" + id + "",
                     type: "GET",
                     success: function (result) {
                        if(result = "done"){
                          location.reload();
                        }else{
                          alert("Ocurrio un error: "+ result);
                        }
                     }, error: function (result) {
                        alert(result);
                     }
                   });
                 }, 1200));
             });
             }

     function correo(mail) {
          var to=mail;      
            //alert("Enviando Email... porfavor espere.");
             $.ajax({
             url: "/send/" + to + "",
             type: "GET",
             success: function (result) {
                if(result=="sent")
            {
              swal("El correo ha sido enviado.", "la contraseña fue enviada a "+to+".", "success", setTimeout(function() { 
                }, 1200));
            }
             }, error: function (result) {
                alert(result);
             }

         });
      }

       function TakeFoto(id) {
          $('#foto').modal();
          $(".actualizarFoto").on("click", function(evt){
          evt.preventDefault();

          var formData = new FormData(document.getElementById("formPhoto"));
            $.ajax({
                   type: "post" ,
                   url: '/photoProfile/'+id+'',
                   data: formData, // Adjuntar los campos del formulario enviado.
                   contentType: false,
                   processData: false,
                   beforeSend: function() 
                  {
                      //$('#mensaje').prepend('<img src="facebook.gif" />');
                  },
                   success: function(data)
                   {
                    if(data=='done'){
                       location.reload();
                    }else{
                      alert("Ocurrió un error: "+data);
                    }
                   }
              });
           });
       }
    


      

		$(document).ready(function(){
			$("#item3").addClass("active");
        
      
				$.ajax({
				url: "/infoTech",
				Type: "GET",
				success: function(result){
					if(result==0){
			        }else{
                var user = $("#setting").attr("href");
			          for (var i = 0; i <= result.length; i++) {
                var card = $("<div class='col-md-3'> </div>");
                  $('#datas').append(card); 

                  if( user.includes(result[i].Email)){

                     if(result[i].Foto == ""){
                         card.append($(
                        "<div class='contact-box' style='width:250px;height:450px;margin:0 auto; margin-bottom:3%;background-color:#F0EDED;border-radius: 25px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);' ><img alt='image' class='img-circle' style='width:150px;height:150px;margin-left:25px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);' src=../fotos/no-user-image.jpg><h3 style='margin-left:55px;' class='m-b-xs'><strong>"+ result[i].Nombre + "</strong></h3><div class='font-bold' style='margin-left:6px;'>Puesto: "+ result[i].Puesto+ "</div><address class='m-t-md' style='margin-left:6px;'><strong>"+result[i].Email+"</strong><br>Teléfono: "+result[i].Tel+"<br>ID-Nextel: "+result[i].IDNextel.replace(/-/g,"*")+"<br></address><div class='contact-box-footer' style='background-color:#F0EDED;border-radius: 25px;'></div></div>"));
                      }else{
                         card.append($(
                        "<div class='contact-box' style='width:250px;height:450px;margin:0 auto; margin-bottom:3%;background-color:#F0EDED;border-radius: 25px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);' ><img alt='image' class='img-circle' style='width:150px;height:150px;margin-left:25px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);' src="+result[i].Foto+"><h3 style='margin-left:55px;' class='m-b-xs'><strong>"+ result[i].Nombre + "</strong></h3><div class='font-bold' style='margin-left:6px;'>Puesto: "+ result[i].Puesto+ "</div><address class='m-t-md' style='margin-left:6px;'><strong>"+result[i].Email+"</strong><br>Teléfono: "+result[i].Tel+"<br>ID-Nextel: "+result[i].IDNextel.replace(/-/g,"*")+"<br></address><div class='contact-box-footer' style='background-color:#F0EDED;border-radius: 25px;'></div></div>"));
                      }
              
                }else{
                  
                      if(result[i].Foto == ""){
                         card.append($(
                        "<div class='contact-box' style='width:250px;height:450px;margin:0 auto; margin-bottom:3%; background-color:#F0EDED;border-radius: 25px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);' ><img alt='image' class='img-circle' style='width:150px;height:150px;margin-left:25px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);' src=../fotos/no-user-image.jpg><h3 style='margin-left:55px;' class='m-b-xs'><strong>"+ result[i].Nombre + "</strong></h3><div class='font-bold' style='margin-left:6px;'>Puesto: "+ result[i].Puesto+ "</div><address class='m-t-md' style='margin-left:6px;'><strong>"+result[i].Email+"</strong><br>Teléfono: "+result[i].Tel+"<br>ID-Nextel: "+result[i].IDNextel.replace(/-/g,"*")+"<br></address><div class='contact-box-footer' style='border-radius: 25px;'><div class='m-t-xs btn-group'><a class='btn btn-xs btn-white col-md-6' onclick=TakeFoto("+'"'+result[i].idTécnico+'"'+")><i class='fa fa-camera'></i> Foto </a><a class='btn btn-xs btn-white' onclick=correo("+'"'+result[i].Email+'"'+")><i class='fa fa-send'></i> Password </a><a class='btn btn-xs btn-white col-md-6' onclick=editarT("+result[i].idTécnico+")>&nbsp;<i class='fa fa-pencil'></i> Editar</a><a class='btn btn-xs btn-white' onclick=delTech("+result[i].idTécnico+")><i class='fa fa-trash'></i> Elimar</a></div></div></div>"));
                      }else{
                         card.append($(
                        "<div class='contact-box' style='width:250px;height:450px;margin:0 auto; margin-bottom:3%; background-color:#F0EDED;border-radius: 25px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);' ><img alt='image' class='img-circle' style='width:150px;height:150px;margin-left:25px;box-shadow:  2px 11px 79px -18px rgba(0,0,0,0.75);' src="+result[i].Foto+"><h3 style='margin-left:55px;' class='m-b-xs'><strong>"+ result[i].Nombre + "</strong></h3><div class='font-bold' style='margin-left:6px;'>Puesto: "+ result[i].Puesto+ "</div><address class='m-t-md' style='margin-left:6px;'><strong>"+result[i].Email+"</strong><br>Teléfono: "+result[i].Tel+"<br>ID-Nextel: "+result[i].IDNextel.replace(/-/g,"*")+"<br></address><div class='contact-box-footer'  style='border-radius: 25px;'><div class='m-t-xs btn-group'><a class='btn btn-xs btn-white col-md-6' onclick=TakeFoto("+'"'+result[i].idTécnico+'"'+")><i class='fa fa-camera'></i> Foto </a><a class='btn btn-xs btn-white' onclick=correo("+'"'+result[i].Email+'"'+")><i class='fa fa-send'></i> Password </a><a class='btn btn-xs btn-white col-md-6' onclick=editarT("+result[i].idTécnico+")>&nbsp;<i class='fa fa-pencil'></i> Editar</a><a class='btn btn-xs btn-white' onclick=delTech("+result[i].idTécnico+")><i class='fa fa-trash'></i> Elimar</a></div></div></div>"));
                      }
                }

                  }
			        }
		        }
		    });
        $("#imprime").click(function () {
          $("div#datas").printArea();
        });

     
		});
</script>		
</body>
</html>