<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/dashboard"><img src="../img/siicomLogo.png" style="width: 120px; height: 30px; margin-top: -5px;"></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <label id="name"></label> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"> &nbsp; &nbsp;  <span id="lvl"></span></a></li>
							  <li role="separator" class="divider"></li>
							<li><a id="setting" href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Configuración</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/salir"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>	
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" style="background: rgb(230,230,230); opacity: 0.8;" class="col-sm-3 col-lg-2 sidebar">
		<div style="text-align: center;">
			<label id="seccionMenu" style="font-size: 30px;"></label>
		</div>
		<ul class="nav menu">
			<li id="item1" class=""><a href="/dashboard"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
			<li id="item2" class=""><a href="/client"><span class="glyphicon glyphicon-user"></span> Clientes</a></li>
			<li id="item3" style="display: none" class=""><a href="/technical"><span class="glyphicon glyphicon-wrench"></span> Técnicos</a></li>
			<li class="parent ">
				<a href="#">
					<span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron down"><use xlink:href="#stroked-chevron-down"/></svg>Servicios</span> 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li id="sub-item-addServices">
						<a class="" href="/Tservices">
							<svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg> Agregar servicios
						</a>
					</li>
					<li id="sub-item-regServices">
						<a class="" href="/services">
							<svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg> Realizar un servicio
						</a>
					</li>
				</ul>
			</li>
			<li id="item5" class=""><a href="/record"><span class="glyphicon glyphicon-book"></span> Historíal</a></li>
			<li id="item6"  class=""><a href="/inventario"><svg class="glyph stroked tag"><use xlink:href="#stroked-tag"/></svg> Inventario</a></li>
			<li id="item7"  class=""><a href="/user"><span class="glyphicon glyphicon-saved"></span> Usuarios</a></li>
	</div><!--/.sidebar-->

	<script>
		
		$.ajax({
			url: "/infoUser",
			type: "GET",
			success: function(res){
				$("#name").html(res[0].Nombre);
				$("#setting").attr("href", "/settings/"+res[0].Email);
				if(res[0].userLvl == 1){
					$("#lvl").html("Administrador");
					$("#item3").show();
				}else{
					$("#lvl").html("Estandar");
				}
			}
		});
	</script>